body {
  background-color: #1C1C1C;
  font-family: "arial",Verdana,Sans-Serif;
  background-image:url('hexBG-SingleTile-Dark.png');
  background-repeat:repeat;
}
h2 {
  color: black;
  font-size: 140%;
  font-weight: 400;
  text-align: left;
  width: 635px;
  margin-left: auto;
  margin-right: auto; 
}
h1 {
  color: white;
  text-align: center;  
}
.introduction {
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 70px;
}
#card-title {
  text-align: center;
}
#my-bio p {
  color: white;
}
#self-image {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}
.about-me {
	text-align: left;
	padding-left: 285px;
	padding-top: 5px;
	text-indent: 20px;
	font-size: 80%;
	font-weight: 400;
}
.boxed {
  border: 3px solid green;
  background-color: rgba(18, 18, 18, 0.8);
  opacity: 1.0;
  width: 600px; 
  height: 320px;
  margin-left: auto;
  margin-right: auto; 
  padding: 15px;
  line-height: 23px;
}
.contact-icons {
    width: 660px;  
    height: 320px;
    margin-left: auto;
    margin-right: auto;
}
#twitter-icon {
    max-width: 50px; 
    max-height: 50px;
	float: right;
	opacity: 0.3;
}
#twitter-icon:hover {
    max-width: 50px; 
    max-height: 50px;
	float: right;
	opacity: 1.0;
}
#github-icon {
    max-width: 50px; 
    max-height: 50px;
	float: right;
	opacity: 0.3;
}
#github-icon:hover {
    max-width: 50px; 
    max-height: 50px;
	float: right;
	opacity: 1.0;
}
#linkedin-icon {
    max-width: 50px; 
    max-height: 50px;
	float: right;
	opacity: 0.3;
}
#linkedin-icon:hover {
    max-width: 50px; 
    max-height: 50px;
	float: right;
	opacity: 1.0;
}
body {
  font-size: 20px;
}
img {
  margin: 10px;
  float: left
}